[run]
source = mopack
parallel = True
branch = True

[paths]
source =
  mopack/
  /usr/local/lib/*/site-packages/mopack/

[report]
exclude_lines =
  pragma: no cover
  raise NotImplementedError
  return NotImplemented
  def __repr__
  assert False